
@model booking.Models.UserModel


<div class="card text-center" style="width: 300px; margin: 0 auto; margin-top:100px;">
    <div class="card-header h5 text-white bg-primary">Password Reset</div>
    <div class="card-body px-5">
        <p class="card-text py-2">
            Please enter your email address below. We'll send you an email with instructions to reset your password.
        </p>
        <div class="input-group mb-3">
            <span class="input-group-text" id="email-addon">
                <i class="fas fa-envelope"></i>
            </span>
            <input type="email" class="form-control" placeholder="Your Email" aria-label="Your Email" aria-describedby="email-addon">
        </div>
        <button type="button" class="btn btn-primary w-100">Reset Password</button>
        <div class="d-flex justify-content-between mt-4">
            <a class="btn btn-link" href="#">Login</a>
            <a class="btn btn-link" href="#">Register</a>
        </div>
    </div>
</div>

<div class="container" style="margin-top: 300px;"></div>